.w-100 {
    width: 30% !important;
}


#padding{
    padding-left: 30%;
}

@media (max-width:1000px) {
    img {
        min-width: 100%;
        min-height: 100%;
        place-items: center;
        padding-right: 30%;
    }
}

@media (min-width:1001px) {
    img {
        min-width: 50%;
        min-height:50%;
        place-items: center;
    }
}