.w-100 {
    width: 30% !important;

}


@media (max-width:1000px) {
    img {
        min-width: 100%;
        min-height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 30%;
    }
}

@media (min-width:1001px) {
    img {
        min-width: 50%;
        min-height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}


#padding{
  
    padding-top: 5%;
    padding-bottom: 5%;
}